@tailwind base;
@tailwind components;
@tailwind utilities;

/* Дополнительные глобальные стили */
body {
  @apply bg-gray-50;
}

/* Стили для анимаций */
.animate__animated {
  animation-duration: 0.5s;
}

.animate__fadeIn {
  animation-duration: 0.8s;
}

.animate__delay-1s {
  animation-delay: 0.2s;
}

.animate__delay-2s {
  animation-delay: 0.4s;
} 